@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
/*reset*/
*{
    margin: 0% auto;
    border: 0%;
    box-sizing: border-box;

}
/*the background changed*/
body {
    background-color:black;
    color: pink;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Creepster', cursive;
}
/*NAV*/
.navbar{
    padding: 0%;
    color:white;
    font-size: 30px;
    font-family: 'Creepster', cursive;
    background-color:black;
}

.ul-none{
    list-style: none;
    color: black;
    font-size: 25px;
    font-family: 'Creepster', cursive;
    align-items: center;
}

.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 0 5rem;
    font-weight: 500;
    word-spacing: 10px;
    color: grey;
}

.title{
    color: white;
}

.title-two{
    color: greenyellow;
    font-size: 20px;
}

.title-me{
    color:pink;
}

section{
    text-align: center;
    font-size: 24px;
    font-family: 'Creepster', cursive;
}

.div-section{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 0%;
    margin: 0 auto;
    color:pink;
    background-color:black;
    align-content: center;
    display: flex;
    justify-content: center;

}

.container{
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(5, 450px);
    display: flex;
    justify-content: center;
}

/*CARDS*/
.container .card{
    width: 250px;
    height: 330px;
    border-radius: 8px;
    display: flex;
    flex: auto;
    align-items: center;
    overflow: hidden;
    margin:20px;
    text-align: center;
    transition: all 0.25s;

}


.container .card:hover{
    transform: translate(-15px);
    box-shadow: 0 12px 16 px rgba( 0, 0,0, 0.2);
}
.container .card img{
    width: 300px;
    height: 170px;
}

.container .card h5{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 150;
}
.container .card a{
    font-weight: 500;
    text-decoration: none;
    color: black;
}

/*pendiente*/
.container .card-group{
    width: 10%;
    height: 5%;
    align-items:flex-start;
    display: flex;
    flex: auto;
    align-items:center;
    margin: 0px;
}

.image-small{
    width: 20%;
    height: 10%;
}
.image-me{
    width: 14%;
    height: auto;
}

.card-button{
    width: 10%;
    height: 10%;
    display: flex;
    

}

